packaging_format = 2

id = "dokos"
name = "Dokos"

description.en = "A 100% open-source management software that is based on ERPNext"
description.fr = "Une plateforme de gestion d'entreprise complète, 100% open-source, basée sur ERPNext"

version = "4.65.2~ynh1"

maintainers = ["Thatoo"]

[upstream]
license = "GPL-3.0-or-later"
website = "https://dokos.io/"

admindoc = "https://doc.dokos.io/dodock/"
userdoc = "https://doc.dokos.io/dokos"
code = "https://gitlab.com/dokos/dokos"

[integration]
yunohost = '>= 12.1.17'
helpers_version = "2.1"
architectures = ['amd64', 'arm64',]
multi_instance = true

ldap = false
sso = false

disk = "4G"
ram.build = "250M"
ram.runtime = "512M"

[install]

    [install.domain]
    type = "domain"
    help.en = "Choose a domain that is not one of your yunohost's subdomain : not dokos.yunohost.domain.tld."
    help.fr = "Choisissez un domain qui n'est pas un sous domaine de votre yunohost : pas dokos.yunohost.domain.tld."

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["en_EN", "fr_FR"]
    default = "fr_FR"
    
    [install.password]
    help.en = "Choose a password for the administrator user, who will then be able to manage your Dokos."
    help.fr = "Choisissez le mot de passe de l'utilisateur administrator qui vous permettra ensuite de gérer votre Dokos."
    type = "password"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://gitlab.com/dokos/dokos/-/archive/v4.65.2/dokos-v4.65.2.tar.bz2"
        sha256 = "e7618c13abfe3c089428afdd89872b4768f8e73713240ec4e346352d110c19aa"
        prefetch = true
        autoupdate.strategy = "latest_gitlab_release"

        [resources.sources.frappe]
        url = "https://gitlab.com/dokos/dodock/-/archive/v4.68.3/dodock-v4.68.3.tar.bz2"
        sha256 = "97faa3a3041f3fe47c3b6bac533fcab496fbc6fe8568130eafae5ef5147db4c9"
        prefetch = true
        autoupdate.strategy = "latest_gitlab_release"
        autoupdate.upstream = "https://gitlab.com/dokos/dodock"

        [resources.sources.payments]
        url = "https://gitlab.com/dokos/payments/-/archive/v2.25.1/payments-v2.25.1.tar.bz2"
        sha256 = "440429082883f9cf6276d85413914b5c0b30aba849d47bf756d4bec71ad27d2b"
        prefetch = true
        autoupdate.strategy = "latest_gitlab_release"
        autoupdate.upstream = "https://gitlab.com/dokos/payments"

        [resources.sources.hrms]
        url = "https://gitlab.com/dokos/hrms/-/archive/v2.61.0/hrms-v2.61.0.tar.bz2"
        sha256 = "184775fef9ede005d7ff22062ea4bcb6578fc11cb48491f000a8ad4d8d76c30e"
        prefetch = true
        autoupdate.strategy = "latest_gitlab_release"
        autoupdate.upstream = "https://gitlab.com/dokos/hrms"

        [resources.sources.wkhtmltopdf_patched_qt]
        amd64.url = "https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6.1-3/wkhtmltox_0.12.6.1-3.bookworm_amd64.deb"
        amd64.sha256 = "98ba0d157b50d36f23bd0dedf4c0aa28c7b0c50fcdcdc54aa5b6bbba81a3941d"
        arm64.url = "https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6.1-3/wkhtmltox_0.12.6.1-3.bookworm_arm64.deb"
        arm64.sha256 = "b6606157b27c13e044d0abbe670301f88de4e1782afca4f9c06a5817f3e03a9c"
        
        #autoupdate.upstream = "https://github.com/wkhtmltopdf/packaging"
        #autoupdate.strategy = "latest_github_release"
        #autoupdate.asset.amd64 = ".*\\.bookworm_amd64.deb"
        #autoupdate.asset.arm64 = ".*\\.bookworm_arm64.deb"

        format = "whatever"
        extract = false
        rename = "wkhtmltopdf_patched_qt.deb"
        prefetch = false

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    redis_cache.default = 13000
    redis_queue.default = 11000
    socketio.default = 9000
    webserver.default = 8000

    [resources.apt]
    packages = ["python3", "python3-pip", "python3-venv", "python3-dev", "python3-setuptools", "python3-distutils", "software-properties-common", "git", "curl", "ca-certificates", "redis-server", "xvfb", "libfontconfig", "fontconfig", "xfonts-base", "xfonts-75dpi", "libxrender1", "mariadb-server", "mariadb-client"]

    [resources.database]
    type = "mysql"

    [resources.nodejs]
    version = "18"
    