[Unit]
After=network.target
Wants=__APP__-frappe-default-worker.service __APP__-frappe-long-worker.service __APP__-frappe-short-worker.service

[Install]
WantedBy=multi-user.target
