[Unit]
Description="Dokos (__APP__) workers"
After=__APP__-redis.target
Wants=__APP__-frappe-default-worker.service __APP__-frappe-long-worker.service __APP__-frappe-short-worker.service __APP__-frappe-schedule.service

[Install]
WantedBy=multi-user.target
