[Unit]
Description="__APP__-frappe-default-worker"
PartOf=__APP__-workers.target

[Service]
User=__APP__
Group=__APP__
Restart=always
ExecStart=__INSTALL_DIR__/bin/bench worker --queue default
StandardOutput=file:__INSTALL_DIR__/dokos-bench-folder/logs/worker.log
StandardError=file:__INSTALL_DIR__/dokos-bench-folder/logs/worker.error.log
WorkingDirectory=__INSTALL_DIR__/dokos-bench-folder
