[Unit]
Description="__APP__-redis-queue"
PartOf=__APP__-redis.target

[Service]
User=__APP__
Group=__APP__
Restart=always
ExecStart=/usr/bin/redis-server __INSTALL_DIR__/dokos-bench-folder/config/redis_queue.conf
StandardOutput=file:__INSTALL_DIR__/dokos-bench-folder/logs/redis-queue.log
StandardError=file:__INSTALL_DIR__/dokos-bench-folder/logs/redis-queue.error.log
WorkingDirectory=__INSTALL_DIR__/dokos-bench-folder/sites
